<div class="row">
  <%= link_to "MIRACOLO", root_path,:style => "color:#e6e6e6; font-size:50px;", :class => "col-xs-12 col-md-12 col-lg-12 header" %>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to '編集', contents_emmenu_path,:style => "color:#e5e5e5;" %></div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'アカウント', users_edit_path,:style => "color:#e5e5e5;" %></div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'ログアウト', logout_path, method: :delete,:style => "color:#e5e5e5;" %></div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'メインページ', main_path,:style => "color:#e5e5e5;"  %> </div>
</div>



<%= form_for @content, :url => contents_update_path(id: params[:id]) do |f| %>


<div class="col-xs-12 col-md-12 col-lg-12" style="background-color: #e6e6e6;">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="field " style="margin-top:50px;" >
        <%= f.label :目標を決めましょう %>
        <%= f.text_field :title %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="field " >
        <%= f.label :具体的にすることを書いてください。 %>
        <%= f.text_field :text ,:style => "width:400px;" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="field">
        <%= f.label "期限を決めましょう。" %>
        <%= f.datetime_select :start %>〜
      </div>
      <div class="field">〜
        <%= f.datetime_select :end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: 20px; margin-right: auto; margin-left: auto;">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>

<% end %>
