<div class="row">
  <%= link_to "MIRACOLO", root_path,:style => "color:#e6e6e6; font-size:50px;", :class => "col-xs-12 col-md-12 col-lg-12 header" %>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to '編集', contents_emmenu_path,:style => "color:#e5e5e5;" %></div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'アカウント', users_edit_path,:style => "color:#e5e5e5;" %></div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'ログアウト', logout_path, method: :delete,:style => "color:#e5e5e5;" %></div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'メインページ', main_path,:style => "color:#e5e5e5;"  %> </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" ></div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
  <thead>
    <tr>
      <h1>夢/目標一覧</h1>
      <th colspan="3"></th>
    </tr>
  </thead>
  <ul class="user-list">
    <li>
      <div class="img4"></div>
      <%= link_to '編集する', contents_edit_path(id: 00) %>
    </li>
  </ul>
  <ul class="user-list">
    <li>
      <div class="img"></div>
      <%= link_to '編集へ', contents_esmenu_path(id: 10) %>
    </li>
  </ul>
  <ul class="user-list">
    <li>
      <div class="img1"></div>
      <%= link_to '編集へ', contents_esmenu_path(id: 20) %>
    </li>
  </ul>
  <ul class="user-list">
    <li>
      <div class="img2"></div>
      <%= link_to '編集へ', contents_esmenu_path(id: 30) %>
    </li>
  </ul>
  <ul class="user-list">
    <li>
      <div class="img5"></div>
      <%= link_to '編集へ', contents_esmenu_path(id: 40) %>
    </li>
  </ul>
  <ul class="user-list">
    <li>
      <div class="img8"></div>
      <%= link_to '編集へ', contents_esmenu_path(id: 50) %>
    </li>
  </ul>
  <ul class="user-list">
    <li>
      <div class="img7"></div>
      <%= link_to '編集へ', contents_esmenu_path(id: 60) %>
    </li>
  </ul>
  <ul class="user-list">
    <li>
      <div class="img6"></div>
      <%= link_to '編集へ', contents_esmenu_path(id: 70) %>
    </li>
  </ul>
  <ul class="user-list">
    <li>
      <div class="img3"></div>
      <%= link_to '編集へ', contents_esmenu_path(id: 10) %>
    </li>
  </ul>
  <br>
</div>
<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" ></div>
