<!-- test1ってなってた、メインのページ -->
<body  style="backgroud:#e6e6e6;">
<div class="row">
  <%= link_to "MIRACOLO", root_path,:style => "color:#e6e6e6; font-size:50px;", :class => "col-xs-12 col-md-12 col-lg-12 header" %>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to '編集', contents_emmenu_path,:style => "color:#e5e5e5;" %></div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'アカウント', users_edit_path,:style => "color:#e5e5e5;" %></div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'ログアウト', logout_path, method: :delete,:style => "color:#e5e5e5;" %></div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'メインページ', main_path,:style => "color:#e5e5e5;"  %> </div>
</div>

  <div class="content col-xs-12 col-md-12 col-lg-12">
  <div class="a" ><%= hashpick(@user.id, 10, "title") %></div>
  <div class="b" ><%= hashpick(@user.id, 20, "title") %></div>
  <div class="c" ><%= hashpick(@user.id, 30, "title") %></div>
  <div class="d" ><%= hashpick(@user.id, 40, "title") %></div>
  <div class="e" id="trigger-overlay" type="button"><br>
    <p class="e-1"><%= hashpick(@user.id, 00, "title") %></p>
  </div>
  <div class="f" ><%= hashpick(@user.id, 50, "title") %></div>
  <div class="g" ><%= hashpick(@user.id, 60, "title") %></div>
  <div class="h" ><%= hashpick(@user.id, 70, "title") %></div>
  <div class="i" ><%= hashpick(@user.id, 80, "title") %></div>
</div>

<%= flash.now[:notice] %>
<div class="overlay overlay-door way" style="background: #cccccc;">
  <button type="button" class="overlay-close">Close</button>
  <nav>
    <ul>
			<li>
        <p href="#" id="yume">
          <strong>Title:</strong>
          <%= hashpick(@user.id, 00, 'title') %>
        </p>
      </li>
			<li>
        <a href="#" class="detail">
          <strong>Text:</strong>
          <%= hashpick(@user.id, 00, 'text') %>
        </a>
      </li>
			<li>
        <p href="#" class="detail">
          <strong>Start:</strong>
          <%= hashpick(@user.id, 00, 'start') %>
        </p>
      </li>
      <li>
        <p href="#" class="detail">
          <strong>End:</strong>
          <%= hashpick(@user.id, 00, 'end') %>
        </p>
      </li>
		</ul>
	</nav>
</div>
 
<script src="js/classie.js"></script>
<script src="js/demo1.js"></script>
</body>
