<!-- test1ってなってた、メインのページ -->
<body  style="backgroud:#e6e6e6;">
<div class="row">
  <%= link_to "MIRACOLO", root_path,:style => "color:#e6e6e6; font-size:50px;", :class => "col-xs-12 col-md-12 col-lg-12 header" %>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to '編集', contents_emmenu_path,:style => "color:#e5e5e5;" %></div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'アカウント', users_edit_path,:style => "color:#e5e5e5;" %></div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'ログアウト', logout_path, method: :delete,:style => "color:#e5e5e5;" %></div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'メインページ', main_path,:style => "color:#e5e5e5;"  %> </div>
</div>

<div class="content col-xs-12 col-md-12 col-lg-12">
  <%= link_to sub_path(id: 10) do %>
    <div class="a" >
      <p><%= hashpick(@user.id, 10, "title") %></p>
    </div>
  <% end %>

  <%= link_to sub_path(id: 20) do %>
    <div class="b" >
      <p><%= hashpick(@user.id, 20, "title") %></p>
    </div>
  <% end %>

  <%= link_to sub_path(id: 30) do %>
    <div class="c" >
      <p><%= hashpick(@user.id, 30, "title") %></p>
    </div>
  <% end %>

  <%= link_to sub_path(id: 40) do %>
    <div class="d" >
      <p><%= hashpick(@user.id, 40, "title") %></p>
    </div>
  <% end %>

  <div class="e btns" data-tgt="wd1"  type="button"><br>
    <p ><%= hashpick(@user.id, 00, "title") %></p>
  </div>

  <%= link_to sub_path(id: 50) do %>
    <div class="f" >
      <p><%= hashpick(@user.id, 50, "title") %></p>
    </div>
  <% end %>

  <%= link_to sub_path(id: 60) do %>
    <div class=" g" >
      <p><%= hashpick(@user.id, 60, "title") %></p>
    </div>
  <% end %>

  <%= link_to sub_path(id: 70) do %>
    <div class="h" >
      <p><%= hashpick(@user.id, 70, "title") %></p>
    </div>
  <% end %>
  
  <%= link_to sub_path(id: 80) do %>
    <div class="i" >
      <p><%= hashpick(@user.id, 80, "title") %></p>
    </div>
  <% end %>
</div>

<%= flash.now[:notice] %>

 <div class="modal wd1">
	<div class="modalBody">
		<p class="close">×close</p>
		<ul>
		<li>
        <p href="#">
          <strong>Title:</strong>
          <%= hashpick(@user.id, 00, 'title') %>
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Text:</strong>
          <%= hashpick(@user.id, 00, 'text') %>
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Start:</strong>
          <%= hashpick(@user.id, 00, 'start') %>
        </p>
      </li>
      <li>
        <p href="#">
          <strong>End:</strong>
          <%= hashpick(@user.id, 00, 'end') %>
        </p>
      </li>
		</ul>
	</div>

<script src="js/classie.js"></script>
<script src="js/demo1.js"></script>
</body>
