<!-- test1ってなってた、メインのページ -->
<script>
  $(function(){
	$('.btns1').click(function(){
		wn = '.' + $(this).data('tgt');
		var mW = $(wn).find('.modalBody').innerWidth() / 2;
		var mH = $(wn).find('.modalBody').innerHeight() / 2;
		$(wn).find('.modalBody').css({'margin-left':-mW,'margin-top':-mH});
		$(wn).fadeIn(500);
	});
	$('.close,.modalBK').click(function(){
		$(wn).fadeOut(500);
	});
});
</script>
<body  style="backgroud:#e6e6e6;">
<div class="row">
  <%= link_to "MIRACOLO", root_path,:style => "color:#e6e6e6; font-size:50px;", :class => "col-xs-12 col-md-12 col-lg-12 header" %>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to '編集', contents_esmenu_path(id: params[:id]), :style => "color:#e5e5e5;" %></div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'アカウント', users_edit_path, :style => "color:#e5e5e5;" %></div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'ログアウト', logout_path, method: :delete, :style => "color:#e5e5e5;" %></div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 menubar"><%= link_to 'メインページ', main_path, :style => "color:#e5e5e5;"  %></div>
</div>

<div class="content col-xs-12 col-md-12 col-lg-12">
  <div class="a2  btns1" data-tgt="wd2" type="button">
    <p><%= hashpick(@user.id, params[:id].to_i + 1, "title") %></p>
  </div>

  <div class="b2 btns1" data-tgt="wd3" type="button">
    <p><%= hashpick(@user.id, params[:id].to_i + 2, "title") %></p>
  </div>

  <div class="c2 btns1" data-tgt="wd4" type="button">
    <p><%= hashpick(@user.id, params[:id].to_i + 3, "title") %></p>
  </div>

  <div class="d2 btns1" data-tgt="wd5" type="button">
    <p><%= hashpick(@user.id, params[:id].to_i + 4, "title") %></p>
  </div>

  <%= link_to main_path do %>
    <div id = "main2" >
      <p><%= hashpick(@user.id, params[:id], "title") %></p>
    </div>
  <% end %>

  <div class="f2 btns1" data-tgt="wd6" type="button">
    <p><%= hashpick(@user.id, params[:id].to_i + 5, "title") %></p>
  </div>

  <div class="g2 btns1" data-tgt="wd7" type="button">
    <p><%= hashpick(@user.id, params[:id].to_i + 6, "title") %></p>
  </div>

  <div class="h2 btns1" data-tgt="wd8" type="button">
    <p><%= hashpick(@user.id, params[:id].to_i + 7, "title") %></p>
  </div>
  
  <div class="i2 btns1" data-tgt="wd9" type="button">
    <p><%= hashpick(@user.id, params[:id].to_i + 8, "title") %></p>
  </div>
</div>

<%= flash.now[:notice] %>
 <div class="modal wd2">
	<div class="modalBody">
		<p class="close">×close</p>
		<ul>
		<li>
        <p href="#">
          <strong>Title:</strong>
          
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Text:</strong>
         
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Start:</strong>
          
        </p>
      </li>
      <li>
        <p href="#">
          <strong>End:</strong>
          
        </p>
      </li>
		</ul>
	</div>
	<div class="modalBK"></div>
	</div>

 <div class="modal wd3">
	<div class="modalBody">
		<p class="close">×close</p>
		<ul>
		<li>
        <p href="#">
          <strong>Title:</strong>
         
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Text:</strong>
          
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Start:</strong>
         
        </p>
      </li>
      <li>
        <p href="#">
          <strong>End:</strong>
          
        </p>
      </li>
		</ul>
	</div>
	<div class="modalBK"></div>
	</div>
	
	 <div class="modal wd4">
	<div class="modalBody">
		<p class="close">×close</p>
		<ul>
		<li>
        <p href="#">
          <strong>Title:</strong>
         
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Text:</strong>
          
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Start:</strong>
        
        </p>
      </li>
      <li>
        <p href="#">
          <strong>End:</strong>
          
        </p>
      </li>
		</ul>
	</div>
	<div class="modalBK"></div>
	</div>
	
	 <div class="modal wd5">
	<div class="modalBody">
		<p class="close">×close</p>
		<ul>
		<li>
        <p href="#">
          <strong>Title:</strong>
         
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Text:</strong>
         
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Start:</strong>
          
        </p>
      </li>
      <li>
        <p href="#">
          <strong>End:</strong>
          
        </p>
      </li>
		</ul>
	</div>
	<div class="modalBK"></div>
	</div>
	
	 <div class="modal wd6">
	<div class="modalBody">
		<p class="close">×close</p>
		<ul>
		<li>
        <p href="#">
          <strong>Title:</strong>
         
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Text:</strong>
          
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Start:</strong>
          
        </p>
      </li>
      <li>
        <p href="#">
          <strong>End:</strong>
         
        </p>
      </li>
		</ul>
	</div>
	<div class="modalBK"></div>
	</div>
	
	 <div class="modal wd7">
	<div class="modalBody">
		<p class="close">×close</p>
		<ul>
		<li>
        <p href="#">
          <strong>Title:</strong>
         
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Text:</strong>
         
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Start:</strong>
        
        </p>
      </li>
      <li>
        <p href="#">
          <strong>End:</strong>
          
        </p>
      </li>
		</ul>
	</div>
	<div class="modalBK"></div>
	</div>
	
	 <div class="modal wd8">
	<div class="modalBody">
		<p class="close">×close</p>
		<ul>
		<li>
        <p href="#">
          <strong>Title:</strong>
        
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Text:</strong>
         
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Start:</strong>
         
        </p>
      </li>
      <li>
        <p href="#">
          <strong>End:</strong>
          
        </p>
      </li>
		</ul>
	</div>
	<div class="modalBK"></div>
	</div>
	
	 <div class="modal wd9">
	<div class="modalBody">
		<p class="close">×close</p>
		<ul>
		<li>
        <p href="#">
          <strong>Title:</strong>
         
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Text:</strong>
          
        </p>
      </li>
			<li>
        <p href="#" >
          <strong>Start:</strong>
          
        </p>
      </li>
      <li>
        <p href="#">
          <strong>End:</strong>
         
        </p>
      </li>
		</ul>
	</div>
	<div class="modalBK"></div>
	</div>
</body>
