<div class="row">
<header class="header col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <%= link_to "MIRACOLO", root_path,:style => "color:#e6e6e6;" %>
</header>
</div>
<h1  class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">ユーザー編集</h1>
<div class="row">
  <header class="header col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= link_to "MIRACOLO", root_path,:style =>"color:#e6e6e6;" %>
  </header>
  <h1 style="margin-left:70px;" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">ユーザー編集</h1>
</div>
<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  <%= render 'form', user: @user %>
</div>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
  <div  class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="menu1"><%= link_to "メインページ", root_path %></div>
  <div  class="col-xs-12 col-md-12 col-sm-12 col-lg-12" id="menu2"><%= link_to "ログアウト", logout_path %></div>
</div>
